body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-weight: 40px;
}
.coler{
    color: orange;
}
.experince-area{
    display: flex;
     margin-bottom: 150px;

}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.experince-item{
width: 40%;
margin-left: 5% ;
margin-right: 5%;
padding: 20px;
border-radius: 20px;
box-shadow: 10px 10px 20px rgb(85, 9, 9);
}
.experonce{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato  );
    padding: 10px 40px;
   color: white;
    font-weight: 700;
   border-radius: 15px;

}
.top-banner {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.Dream-Big {
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 0px;
}
#full{
    border-left: 7px solid tomato;
}
#baby{
    border-left: 7px solid rgb(46, 7, 218);
}
footer p{
    text-align: center;
}